a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.login_area {
    display: flex;
}

.link {
    width: 10%;
    padding-right: 5%;
}

.link_picture {
    width: 200%;
}

.login_word {
    font-size: 2vw;
    text-align: left;
}

.helper a {
    font-size: 1vw;
    color: orange;
    text-align: right;
    text-decoration: none;
}

.helper a:hover {
    color: orange;
    text-decoration: none;
}
