a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.nav-item {
    color: white;
}

.nav-item a {
    color: white;
    font-size: 1vw;
    opacity: 1;
}

.nav-item a:hover {
    opacity: 0.5;
}

.navbar {
    background-color: orange;
    display: grid;
}

.link {
    width: 10%;
    height: auto;
    padding-right: 5%;
}

.link_picture {
    width: 200%;
}

.search_area {
    display: flex;
}

.search_button_area {
    display: flex;
}

.search {
    width: 100%;
    height: auto;
    margin: 1% 1% 1%;
}

.search .btn {
    width: 10%;
    border-color: white;
}

.search_marked {
    color: white;
    width: 1vw;
    height: auto;
}

.shopping_cart {
    color: white;
    width: 3vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}